# KNN PROGRAMS

In [2]:
#Importing the libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [6]:
#Read the dataset
iris=pd.read_csv('iris.csv')
iris.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [4]:
iris.shape

(150, 5)

In [7]:
 iris['variety'].value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64

In [8]:
iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [9]:
iris.values

array([[5.1, 3.5, 1.4, 0.2, 'Setosa'],
       [4.9, 3.0, 1.4, 0.2, 'Setosa'],
       [4.7, 3.2, 1.3, 0.2, 'Setosa'],
       [4.6, 3.1, 1.5, 0.2, 'Setosa'],
       [5.0, 3.6, 1.4, 0.2, 'Setosa'],
       [5.4, 3.9, 1.7, 0.4, 'Setosa'],
       [4.6, 3.4, 1.4, 0.3, 'Setosa'],
       [5.0, 3.4, 1.5, 0.2, 'Setosa'],
       [4.4, 2.9, 1.4, 0.2, 'Setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Setosa'],
       [5.4, 3.7, 1.5, 0.2, 'Setosa'],
       [4.8, 3.4, 1.6, 0.2, 'Setosa'],
       [4.8, 3.0, 1.4, 0.1, 'Setosa'],
       [4.3, 3.0, 1.1, 0.1, 'Setosa'],
       [5.8, 4.0, 1.2, 0.2, 'Setosa'],
       [5.7, 4.4, 1.5, 0.4, 'Setosa'],
       [5.4, 3.9, 1.3, 0.4, 'Setosa'],
       [5.1, 3.5, 1.4, 0.3, 'Setosa'],
       [5.7, 3.8, 1.7, 0.3, 'Setosa'],
       [5.1, 3.8, 1.5, 0.3, 'Setosa'],
       [5.4, 3.4, 1.7, 0.2, 'Setosa'],
       [5.1, 3.7, 1.5, 0.4, 'Setosa'],
       [4.6, 3.6, 1.0, 0.2, 'Setosa'],
       [5.1, 3.3, 1.7, 0.5, 'Setosa'],
       [4.8, 3.4, 1.9, 0.2, 'Setosa'],
       [5.0, 3.0, 1.6, 0.2, 'Setosa'],
       [5.0, 3.4, 1.6, 0.4, 'Setosa'],
       [5.2, 3.5, 1.5, 0.2, 'Setosa'],
       [5.2, 3.4, 1.4, 0.2, 'Setosa'],
       [4.7, 3.2, 1.6, 0.2, 'Setosa'],
       [4.8, 3.1, 1.6, 0.2, 'Setosa'],
       [5.4, 3.4, 1.5, 0.4, 'Setosa'],
       [5.2, 4.1, 1.5, 0.1, 'Setosa'],
       [5.5, 4.2, 1.4, 0.2, 'Setosa'],
       [4.9, 3.1, 1.5, 0.2, 'Setosa'],
       [5.0, 3.2, 1.2, 0.2, 'Setosa'],
       [5.5, 3.5, 1.3, 0.2, 'Setosa'],
       [4.9, 3.6, 1.4, 0.1, 'Setosa'],
       [4.4, 3.0, 1.3, 0.2, 'Setosa'],
       [5.1, 3.4, 1.5, 0.2, 'Setosa'],
       [5.0, 3.5, 1.3, 0.3, 'Setosa'],
       [4.5, 2.3, 1.3, 0.3, 'Setosa'],
       [4.4, 3.2, 1.3, 0.2, 'Setosa'],
       [5.0, 3.5, 1.6, 0.6, 'Setosa'],
       [5.1, 3.8, 1.9, 0.4, 'Setosa'],
       [4.8, 3.0, 1.4, 0.3, 'Setosa'],
       [5.1, 3.8, 1.6, 0.2, 'Setosa'],
       [4.6, 3.2, 1.4, 0.2, 'Setosa'],
       [5.3, 3.7, 1.5, 0.2, 'Setosa'],
       [5.0, 3.3, 1.4, 0.2, 'Setosa'],
       [7.0, 3.2, 4.7, 1.4, 'Versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'Versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'Versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'Versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'Versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'Versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'Versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'Versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'Versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'Versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'Versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'Versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'Versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'Versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'Versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'Versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'Versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'Versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'Versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'Versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'Versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'Versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'Versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'Versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'Versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'Versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'Versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'Versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'Versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'Versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'Versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'Versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'Versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'Versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'Versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'Versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'Versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'Versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'Versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'Versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'Versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'Versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'Versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'Versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'Versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'Versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'Versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'Versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'Versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'Versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'Virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Virginica'],
       [7.1, 3.0, 5.9, 2.1, 'Virginica'],
       [6.3, 2.9, 5.6, 1.8, 'Virginica'],
       [6.5, 3.0, 5.8, 2.2, 'Virginica'],
       [7.6, 3.0, 6.6, 2.1, 'Virginica'],
       [4.9, 2.5, 4.5, 1.7, 'Virginica'],
       [7.3, 2.9, 6.3, 1.8, 'Virginica'],
       [6.7, 2.5, 5.8, 1.8, 'Virginica'],
       [7.2, 3.6, 6.1, 2.5, 'Virginica'],
       [6.5, 3.2, 5.1, 2.0, 'Virginica'],
       [6.4, 2.7, 5.3, 1.9, 'Virginica'],
       [6.8, 3.0, 5.5, 2.1, 'Virginica'],
       [5.7, 2.5, 5.0, 2.0, 'Virginica'],
       [5.8, 2.8, 5.1, 2.4, 'Virginica'],
       [6.4, 3.2, 5.3, 2.3, 'Virginica'],
       [6.5, 3.0, 5.5, 1.8, 'Virginica'],
       [7.7, 3.8, 6.7, 2.2, 'Virginica'],
       [7.7, 2.6, 6.9, 2.3, 'Virginica'],
       [6.0, 2.2, 5.0, 1.5, 'Virginica'],
       [6.9, 3.2, 5.7, 2.3, 'Virginica'],
       [5.6, 2.8, 4.9, 2.0, 'Virginica'],
       [7.7, 2.8, 6.7, 2.0, 'Virginica'],
       [6.3, 2.7, 4.9, 1.8, 'Virginica'],
       [6.7, 3.3, 5.7, 2.1, 'Virginica'],
       [7.2, 3.2, 6.0, 1.8, 'Virginica'],
       [6.2, 2.8, 4.8, 1.8, 'Virginica'],
       [6.1, 3.0, 4.9, 1.8, 'Virginica'],
       [6.4, 2.8, 5.6, 2.1, 'Virginica'],
       [7.2, 3.0, 5.8, 1.6, 'Virginica'],
       [7.4, 2.8, 6.1, 1.9, 'Virginica'],
       [7.9, 3.8, 6.4, 2.0, 'Virginica'],
       [6.4, 2.8, 5.6, 2.2, 'Virginica'],
       [6.3, 2.8, 5.1, 1.5, 'Virginica'],
       [6.1, 2.6, 5.6, 1.4, 'Virginica'],
       [7.7, 3.0, 6.1, 2.3, 'Virginica'],
       [6.3, 3.4, 5.6, 2.4, 'Virginica'],
       [6.4, 3.1, 5.5, 1.8, 'Virginica'],
       [6.0, 3.0, 4.8, 1.8, 'Virginica'],
       [6.9, 3.1, 5.4, 2.1, 'Virginica'],
       [6.7, 3.1, 5.6, 2.4, 'Virginica'],
       [6.9, 3.1, 5.1, 2.3, 'Virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Virginica'],
       [6.8, 3.2, 5.9, 2.3, 'Virginica'],
       [6.7, 3.3, 5.7, 2.5, 'Virginica'],
       [6.7, 3.0, 5.2, 2.3, 'Virginica'],
       [6.3, 2.5, 5.0, 1.9, 'Virginica'],
       [6.5, 3.0, 5.2, 2.0, 'Virginica'],
       [6.2, 3.4, 5.4, 2.3, 'Virginica'],
       [5.9, 3.0, 5.1, 1.8, 'Virginica']], dtype=object)

In [10]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [11]:
iris.describe(include='all')

        sepal.length  sepal.width  petal.length  petal.width variety
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  Setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [12]:
x=iris.iloc[:,:4]
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [13]:
y=iris.iloc[:,-1]
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

# Data Normalisation

In [14]:
x=preprocessing.StandardScaler().fit_transform(x)
x[0:4]

array([[-0.90068117,  1.01900435, -1.34022653, -1.3154443 ],
       [-1.14301691, -0.13197948, -1.34022653, -1.3154443 ],
       [-1.38535265,  0.32841405, -1.39706395, -1.3154443 ],
       [-1.50652052,  0.09821729, -1.2833891 , -1.3154443 ]])

# Train Test Split

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3, random_state=1)
y_test.shape

(45,)

# Training and predicting

In [17]:
knnmodel=KNeighborsClassifier(n_neighbors=3)
knnmodel.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)